.nested-fields.flex.justify-between
  = f.text_field :value, placeholder: "Menge eingeben", class:"bg-white shadow-xl mb-2 border-none rounded-md text-blue-900 outline-none"
  = f.collection_select :ingredient_unit_id, @ingredient_units, :id, :name, {prompt: "Wähle eine Maßeinheit"}, {class: "bg-white shadow-xl mb-2 border-none rounded-md text-blue-900 outline-none mx-3"}
  = f.text_field :name, placeholder: "Zutat eingeben", class:"bg-white shadow-xl mb-2 border-none rounded-md text-blue-900 outline-none flex-grow"
  .flex.items-center
    = link_to_remove_association (heroicon "x-circle", variant: :outline, options: {class: "text-red-900 mx-2 mb-2 w-7 h-7"}), f