%h1.font-serif.text-4xl.font-semibold.text-center.mt-3.text-gray-900 
  Familienrezepte das Familienkochbuch
.flex.flex-col.items-center
  %p.mt-4.text-center.text-gray-900{:class => "w-3/5"}
    Die Idee dieser Web-Applikation ist es, Rezepte unserer Familie zu sammeln und sie so an die n채chste Generation weiterzugeben. Jeder innerhalb der Familie hat einige Spezialit채ten, die so f체r jeden griffbereit zu finden sind.
  = image_tag "chefkoechin-marion.jpg", class: "object-fit object-center rounded-xl w-2/5 mt-4"

  %h2.font-serif.text-2xl.font-semibold.text-center.mt-4.text-gray-900  Marion wird 70 Jahre alt
  %p.mt-2.text-center.text-gray-900{:class => "w-3/5"}
    Entstanden ist die Seite anl채sslich des 70. Geburtstag unserer Mutter, Oma und Schwiegermutter.