= form_with url: login_path, method: :post do |f|
  %div.flex.flex-col.mx-auto{:class => "w-4/5"}
    = f.text_field :email, placeholder: "E-Mail eingeben", class:"bg-blue-100 mb-2 border-none rounded-md text-blue-900"
    = f.password_field :password, placeholder: "Passwort", class:"bg-blue-100 mb-2 border-none rounded-md text-blue-900"
    = f.submit "Login"